---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
).slice(0, 1);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			h1,h2{
				text-align: center;
			}
			a{
			text-decoration: none;
			text-align: center;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h2>  <span >MoliNet: Tu blog digital </span>✨ </h2>
			<br>
			<p>
				¡Bienvenido al blog de MoliNet! Este es tu espacio para aprender y explorar todo lo relacionado con la tecnología. Aquí encontrarás artículos, tutoriales, noticias y mucho más para mantenerte actualizado en el mundo digital.
			</p>
			<br>
			<br>
			<h2> <span>¿Qué encontrarás aquí?</span> 🔍</h2>
			<br>
			<ul>
				<li><strong>Guías sencillas</strong> para entender conceptos tecnológicos complejos</li>
				<li><strong>Análisis claros</strong> de las últimas tendencias tecnológicas</li>
				<li><strong>Recomendaciones</strong> de herramientas útiles para el día a día</li>
				<li><strong>Consejos prácticos</strong> para aprovechar al máximo la tecnología</li>
			</ul>
			<br>
			<br>
			<h2> <span>Ultima Publicacion</span> 📃</h2>
			<br>
			<section>							
					{
						posts.map((post) => (
							<div>
							
								<a href={`/blog/${post.slug}/`}>
									<img width={720} height={360} src={post.data.heroImage} alt="" />
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</div>	
							
						))
					}
				
			</section>
		</main>
		<Footer />
	</body>
</html>
